<html>
    <head>
        <title>Hapus Mahasiswa</title>
    </head>
    <body>
        <h2>HAPUS MAHASISWA</h2>
        <a href="/">Batal</a>
        <hr>
        <form method="POST" action="/hapus">
            <label>Nim : <br>
                <input name="nim" type="text" value="{{ (index .Data 0).Nim }}" readonly="readonly">
            </label>
            <br>
            <label>Nama : <br>
                <input name="nama" type="text" value="{{ (index .Data 0).Nama }}" readonly="readonly">
            </label>
            <br>
            <label>Prodi : <br>
                <input name="prodi" type="text" value="{{ (index .Data 0).Prodi }}" readonly="readonly">
            </label>
            <br>
            <label>Semester : <br>
                <input name="semester" type="number" value="{{ (index .Data 0).Semester }}">
            </label>
            <br>
            <input type="submit" value="Hapus">
        </form>
    </body>
</html>