<html>
    <head>
        <title>Tambah Mahasiswa</title>
    </head>
    <body>
        <h2>TAMBAH MAHASISWA</h2>
        <a href="/">Batal</a>
        <hr>
        <form method="POST" action="/tambah">
            <label>Nim : <br>
                <input name="nim" type="text" value="">
            </label>
            <br>
            <label>Nama : <br>
                <input name="nama" type="text" value="">
            </label>
            <br>
            <label>Prodi : <br>
                <input name="prodi" type="text" value="">
            </label>
            <br>
            <label>Semester : <br>
                <input name="semester" type="number" value="">
            </label>
            <br>
            <input type="submit" value="Tambah">
        </form>
    </body>
</html>